 .u-section-1 {
  min-height: 905px;
}

.u-section-1 .u-shape-1 {
  height: 842px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -472px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-1 {
  width: 296px;
  height: 20px;
  margin: -97px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-2 {
  width: 134px;
  height: 22px;
  margin: 101px auto 0 calc(((100% - 1140px) / 2) + -3px);
}

.u-section-1 .u-image-3 {
  width: 32px;
  height: 32px;
  margin: -27px auto 0 calc(((100% - 1140px) / 2) + 156px);
}

.u-section-1 .u-image-4 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 calc(((100% - 1140px) / 2) + 247px);
}

.u-section-1 .u-image-5 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 318px auto 0 calc(((100% - 1140px) / 2) + -40px);
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -25px auto 25px calc(((100% - 1140px) / 2) + 140px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 156px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 156px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 247px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 156px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 247px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + -3px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 156px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 247px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 340px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2845px;
}

.u-section-2 .u-image-1 {
  width: 588px;
  height: 360px;
  margin: 144px auto 0 -51px;
}

.u-section-2 .u-shape-1 {
  height: 360px;
  width: 588px;
  margin: -360px auto 0 -51px;
}

.u-section-2 .u-image-2 {
  width: 264px;
  height: 15px;
  margin: -93px auto 0 -6px;
}

.u-section-2 .u-image-3 {
  width: 193px;
  height: 24px;
  margin: 9px auto 0 -6px;
}

.u-section-2 .u-text-1 {
  margin: 0 876px 0 -20px;
}

.u-section-2 .u-shape-2 {
  height: 360px;
  width: 588px;
  margin: -339px -31px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 588px;
  height: 360px;
  margin: -360px -31px 0 auto;
}

.u-section-2 .u-shape-3 {
  height: 360px;
  width: 588px;
  margin: -360px -31px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -45px 258px 0 598px;
}

.u-section-2 .u-image-5 {
  width: 174px;
  height: 57px;
  margin: -65px 334px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 391px;
  height: 15px;
  margin: -65px 124px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 588px;
  height: 358px;
  margin: 140px -31px 0 auto;
}

.u-section-2 .u-shape-4 {
  height: 360px;
  width: 588px;
  margin: -360px -31px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -46px -18px 0 874px;
}

.u-section-2 .u-image-8 {
  width: 588px;
  height: 358px;
  margin: -336px auto 0 -51px;
}

.u-section-2 .u-shape-5 {
  height: 360px;
  width: 588px;
  margin: -358px auto 0 -51px;
}

.u-section-2 .u-text-4 {
  margin: -48px 876px 0 -20px;
}

.u-section-2 .u-image-9 {
  width: 517px;
  height: 409px;
  margin: 59px auto 0 -51px;
}

.u-section-2 .u-text-5 {
  margin: -174px 738px 0 118px;
}

.u-section-2 .u-image-10 {
  width: 655px;
  height: 409px;
  margin: -259px -31px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: -90px 260px 0 596px;
}

.u-section-2 .u-shape-6 {
  height: 409px;
  width: 655px;
  margin: -343px -31px 0 auto;
}

.u-section-2 .u-image-11 {
  width: 352px;
  height: 311px;
  margin: 35px -31px 0 auto;
}

.u-section-2 .u-image-12 {
  width: 339px;
  height: 311px;
  margin: -311px 358px 0 auto;
}

.u-section-2 .u-image-13 {
  width: 462px;
  height: 311px;
  margin: -311px auto 0 -51px;
}

.u-section-2 .u-text-7 {
  margin: -32px 846px 0 10px;
}

.u-section-2 .u-image-14 {
  width: 528px;
  height: 321px;
  margin: 42px auto 0 -51px;
}

.u-section-2 .u-text-8 {
  margin: -114px 158px 0 698px;
}

.u-section-2 .u-image-15 {
  width: 669px;
  height: 431px;
  margin: -185px -31px 0 auto;
}

.u-section-2 .u-image-16 {
  width: 384px;
  height: 234px;
  margin: -119px auto 60px 93px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 776px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 158px;
    margin-left: 498px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 774px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 776px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 638px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 160px;
    margin-left: 496px;
  }

  .u-section-2 .u-image-12 {
    height: 312px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 656px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 58px;
    margin-left: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 666px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 48px;
    margin-left: 388px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 664px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -404px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 666px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 609px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -573px;
    margin-right: 436px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 50px;
    margin-left: 386px;
  }

  .u-section-2 .u-image-11 {
    margin-top: -1071px;
  }

  .u-section-2 .u-image-12 {
    margin-top: -323px;
  }

  .u-section-2 .u-image-13 {
    margin-top: -991px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 564px;
    margin-right: 436px;
  }

  .u-section-2 .u-image-14 {
    margin-top: 394px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -691px;
    margin-right: 0;
    margin-left: 436px;
  }

  .u-section-2 .u-image-16 {
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 576px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 331px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 540px;
    margin-top: -331px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 256px;
  }

  .u-section-2 .u-image-7 {
    width: 540px;
    height: 329px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-4 {
    width: 540px;
    margin-top: -331px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 574px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 576px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 1002px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -966px;
    margin-right: 256px;
  }

  .u-section-2 .u-image-10 {
    width: 540px;
    height: 337px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -48px;
    margin-right: 0;
    margin-left: 256px;
  }

  .u-section-2 .u-shape-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-image-11 {
    margin-top: -450px;
    margin-right: 0;
  }

  .u-section-2 .u-image-12 {
    margin-top: -581px;
    margin-right: 201px;
  }

  .u-section-2 .u-image-13 {
    margin-top: -1330px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 1205px;
    margin-right: 256px;
  }

  .u-section-2 .u-image-14 {
    margin-top: -276px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -323px;
    margin-left: 256px;
  }

  .u-section-2 .u-image-15 {
    width: 540px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-2 .u-image-16 {
    margin-top: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 208px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: -208px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 476px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 208px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-top: -208px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 56px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 166px;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 13px;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 207px;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-top: -209px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 474px;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 207px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-5 {
    width: 340px;
    margin-top: -207px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 476px;
  }

  .u-section-2 .u-image-9 {
    width: 340px;
    height: 269px;
    margin-top: 841px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -719px;
    margin-right: 56px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 212px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 56px;
  }

  .u-section-2 .u-shape-6 {
    width: 340px;
  }

  .u-section-2 .u-image-11 {
    margin-top: -397px;
    margin-right: -31px;
  }

  .u-section-2 .u-image-12 {
    margin-right: 1px;
  }

  .u-section-2 .u-image-13 {
    width: 340px;
    height: 229px;
    margin-top: -1485px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 1403px;
    margin-right: 56px;
  }

  .u-section-2 .u-image-14 {
    width: 340px;
    height: 207px;
    margin-top: -274px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: -239px;
    margin-left: 56px;
  }

  .u-section-2 .u-image-15 {
    width: 340px;
    height: 219px;
  }

  .u-section-2 .u-image-16 {
    width: 340px;
    height: 207px;
    margin-top: 368px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}