.u-block-8eb5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8eb5-3 {
  position: absolute;
  left: 0;
}

.u-block-8eb5-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/image23.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/image16.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/image31.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/image29.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-4 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-4 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
} .u-section-2 {
  min-height: 954px;
}

.u-section-2 .u-image-1 {
  width: 311px;
  height: 102px;
  margin: 573px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-1 {
  margin: -32px 563px 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-2 {
  width: 902px;
  height: 71px;
  margin: 13px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: 363px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 940px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: 143px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 57px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 926px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 43px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 910px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 27px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1852px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 105px auto 0 -126px;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 254px;
  height: 39px;
  margin: 84px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 0.75rem;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  width: 65px;
  height: 18px;
  margin: 52px auto 0 163px;
}

.u-section-3 .u-image-3 {
  width: 66px;
  height: 18px;
  margin: -18px auto 0;
}

.u-section-3 .u-image-4 {
  width: 66px;
  height: 18px;
  margin: -18px auto 0 921px;
}

.u-section-3 .u-image-5 {
  width: 150px;
  height: 16px;
  margin: 22px auto 0;
}

.u-section-3 .u-image-6 {
  width: 156px;
  height: 49px;
  margin: -16px auto 0 118px;
}

.u-section-3 .u-image-7 {
  width: 133px;
  height: 68px;
  margin: -49px auto 0 889px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 154px auto 0;
}

.u-section-3 .u-image-8 {
  width: 905px;
  height: 137px;
  margin: 30px auto 0;
}

.u-section-3 .u-image-9 {
  height: 498px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-3 .u-image-10 {
  height: 556px;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 216px;
    margin-left: 284px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 279px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 104px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 378px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 815px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 336px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 59px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 748px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 131px;
  }

  .u-section-3 .u-image-10 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1824px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 174px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 169px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 268px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 595px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 226px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 528px;
  }

  .u-section-3 .u-image-8 {
    width: 720px;
    height: 109px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1797px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 84px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 178px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 415px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 136px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 348px;
  }

  .u-section-3 .u-image-8 {
    width: 540px;
    height: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1767px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 144px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 118px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 255px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 76px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 99px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 188px;
  }

  .u-section-3 .u-image-8 {
    width: 340px;
    height: 52px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 151px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 3006px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 86px auto 0;
}

.u-section-4 .u-image-1 {
  width: 828px;
  height: 82px;
  margin: 37px auto 0;
}

.u-section-4 .u-image-2 {
  height: 637px;
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-4 .u-shape-1 {
  width: 68px;
  height: 35px;
  margin: 22px auto 0;
}

.u-section-4 .u-image-3 {
  height: 618px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-4 .u-image-4 {
  height: 641px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-4 .u-image-5 {
  height: 561px;
  margin-top: 54px;
  margin-bottom: 54px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2995px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2977px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2957px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 33px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2414px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 59px 491px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 1252px;
  height: 705px;
  margin: 66px -56px 0;
}

.u-section-5 .u-video-1 {
  width: 859px;
  height: 452px;
  margin: -592px auto 0 141px;
}

.u-section-5 .u-video-2 {
  width: 1033px;
  height: 543px;
  margin: -502px -202px 0 auto;
}

.u-section-5 .u-video-3 {
  width: 859px;
  height: 452px;
  margin: -493px -366px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 1252px;
  height: 705px;
  margin: 206px auto 0 -56px;
}

.u-section-5 .u-video-4 {
  width: 1036px;
  height: 545px;
  margin: -612px -205px 0 auto;
}

.u-section-5 .u-video-5 {
  width: 831px;
  height: 438px;
  margin: -522px -352px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 511px;
  height: 517px;
  margin: 333px auto 0;
}

.u-section-5 .u-text-2 {
  margin: -53px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2062px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 405px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 529px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    margin-top: -416px;
    margin-left: 81px;
  }

  .u-section-5 .u-image-2 {
    width: 940px;
    height: 529px;
    margin-left: 0;
  }

  .u-section-5 .u-video-4 {
    margin-top: -436px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 310px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 379px;
    margin-top: -292px;
    margin-left: 0;
  }

  .u-section-5 .u-video-2 {
    width: 720px;
    height: 378px;
    margin-top: -429px;
    margin-right: 0;
  }

  .u-section-5 .u-video-3 {
    margin-top: -328px;
  }

  .u-section-5 .u-image-2 {
    width: 720px;
    height: 405px;
  }

  .u-section-5 .u-video-4 {
    width: 720px;
    height: 379px;
    margin-top: -312px;
    margin-right: 0;
  }

  .u-section-5 .u-video-5 {
    margin-top: -356px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 233px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 284px;
    margin-top: -191px;
  }

  .u-section-5 .u-video-2 {
    width: 540px;
    height: 284px;
    margin-top: -334px;
  }

  .u-section-5 .u-video-3 {
    margin-top: -234px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-5 .u-video-4 {
    width: 540px;
    height: 284px;
    margin-top: -211px;
  }

  .u-section-5 .u-video-5 {
    margin-top: -261px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 147px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 179px;
    margin-top: -78px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
    height: 179px;
    margin-top: -229px;
  }

  .u-section-5 .u-video-3 {
    width: 340px;
    height: 179px;
    margin-top: -129px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-video-4 {
    width: 340px;
    height: 179px;
    margin-top: -98px;
  }

  .u-section-5 .u-video-5 {
    width: 340px;
    height: 179px;
    margin-top: -156px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 344px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 120px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 541px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 389px;
  }
}